<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">
      <%= params[:category].presence || 'All' %> Bookmarks
    </h1>
  </div>

  <table class="table table-hover">
    <tbody>
      <% @bookmarks.each do |bookmark| %>
        <tr>
          <td class="lead text-muted">
            <% if bookmark.is_favorite %>
              <span class="glyphicon glyphicon-heart"></span>
            <% end %>
          </td>
          <td class="lead text-muted">
            <% if bookmark.comment.present? %>
              <span class="glyphicon glyphicon-comment"></span>
            <% end %>
          </td>
          <td class="lead">
            <%= link_to bookmark.title, bookmark.url %>
          </td>
          <% if params[:category].blank? %>
            <td class="lead text-muted"><%= bookmark.category %></td>
          <% end %>
          <td>
            <div class="btn-group">
              <a href="#" class="btn btn-default">
                <span class="glyphicon glyphicon-eye-open"></span> View
              </a>
              <a href="#" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil"></span> Edit
              </a>
              <a href="#" class="btn btn-default">
                <span class="glyphicon glyphicon-remove"></span>
              </a>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
