<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title lead">
      <%= params[:category].presence || 'All' %> Bookmarks
    </h1>
  </div>

  <table class="table table-hover">
    <tbody>
      <%= render @bookmarks %>
    </tbody>
  </table>
</div>
