<div>
  <% @bookmarks.each do |bookmark| %>
    <div class='bookmark'>
      <%= link_to bookmark.title, bookmark.url %>
      <% unless bookmark.comment.empty? %> * <% end %>
      <% if bookmark.favorite %> (f) <% end %>
    </div>
  <% end %>
</div>
