<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title lead">New Bookmark</h2>
  </div>

  <div class="panel-body">
    <%= render 'form', bookmark: @bookmark %>
  </div>
</div>
